body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    width: 300px;
    background-color: #fff; /* Fond blanc */
    color: #172F48; /* Couleur secondaire pour le texte principal */
    padding: 0;
    margin: 0;
}

.container {
    padding: 16px;
}

.header {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #D5E2ED;
    border-radius: 6px;
}

h1 {
    font-size: 18px;
    margin: 0 0 5px 0;
    color: #64C070; /* Couleur principale */
}

.description {
    font-size: 13px;
    color: #172F48; /* Couleur secondaire */
    margin: 0;
}

.option, .radio-option {
    background-color: #fff; /* Fond blanc */
    border: 1px solid #D5E2ED; /* Couleur minimale pour la bordure */
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 10px;
}

.option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-description {
    font-size: 12px;
    color: #172F48; /* Couleur secondaire */
    margin-top: 6px;
}

.group-description {
    font-size: 13px;
    color: #172F48; /* Couleur secondaire */
    margin: 0 0 10px 0;
}

.radio-option .option-content {
    justify-content: flex-start;
}

.radio-option .option-content label {
    margin-left: 8px;
}

label {
    font-size: 14px;
    cursor: pointer;
    color: #172F48; /* Couleur secondaire */
}

hr {
    border: none;
    border-top: 1px solid #D5E2ED; /* Couleur minimale */
    margin: 10px 0;
}

/* Toggle Switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}
.switch input { display: none; }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #D5E2ED; /* Couleur minimale pour l'état off */
    transition: .4s;
    border-radius: 24px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px; width: 18px;
    left: 3px; bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider { background-color: #64C070; } /* Couleur principale pour l'état on */
input:checked + .slider:before { transform: translateX(20px); }

#zoom-options.disabled {
    opacity: 0.5;
    pointer-events: none;
}

input#zoom-factor {
    margin: 0 0 0 1em;
    width: 4em;
}

/* Styles pour le footer */
.footer-separator {
    margin-top: 20px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #172F48; /* Couleur secondaire */
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #64C070; /* Couleur principale pour les liens */
    text-decoration: none;
    transition: text-decoration 0.2s;
}

footer a:hover {
    text-decoration: underline;
}

/* NOUVEAU STYLE */
.inspiration {
    margin-top: 10px;
    font-style: italic;
    font-size: 11px;
    color: #172F48; /* Couleur secondaire */
}